@{
    ViewData["Title"] = "User Management";
}
<div class="container">
    <div class="row">

        <div class="col-6">
            <h2>User List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-area="Identity" asp-controller="Account" asp-action="Register" class="btn bg-primary text-light">
                <i class="bi bi-plus-circle-dotted"></i> Register User
            </a>
        </div>
        <table id="tblUserData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th>Options</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/user.js"></script>
}