@page
@using MiniShop.Areas.Identity.Pages.Account;
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="card mx-4 mx-md-5 shadow-2-strong" style="background: hsla(0, 0%, 100%, 0.8);backdrop-filter: blur(30px);">
    <div class="card-body py-5 px-md-5">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <h2 class="fw-bold mb-5">Sign up now</h2>

                <form id="registerForm"
                      asp-route-returnUrl="@Model.ReturnUrl"
                      method="post">
                    <!-- 2 column grid layout with text inputs for the first and last names -->

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" asp-for="Input.Email"></label>
                        <input asp-for="Input.Email"
                               class="form-control"
                               autocomplete="username"
                               aria-required="true" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label asp-for="Input.Name">Name</label>
                                <input asp-for="Input.Name" class="form-control" />
                                <span asp-validation-for="Input.Name"
                                      class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label asp-for="Input.PhoneNumber">Phone Number</label>
                                <input asp-for="Input.PhoneNumber" class="form-control" />
                                <span asp-validation-for="Input.PhoneNumber"
                                      class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password"
                                       class="form-control"
                                       autocomplete="new-password"
                                       aria-required="true" />
                                <span asp-validation-for="Input.Password"
                                      class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword"
                                       class="form-control"
                                       autocomplete="new-password"
                                       aria-required="true" />
                                <span asp-validation-for="Input.ConfirmPassword"
                                      class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label asp-for="Input.StreetAddress">Street Address</label>
                                <input asp-for="Input.StreetAddress" class="form-control" />
                                <span asp-validation-for="Input.StreetAddress"
                                      class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label asp-for="Input.City">City</label>
                                <input asp-for="Input.City" class="form-control" />
                                <span asp-validation-for="Input.City"
                                      class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label asp-for="Input.State">State</label>
                                <input asp-for="Input.State" class="form-control" />
                                <span asp-validation-for="Input.State"
                                      class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-outline">
                                <label asp-for="Input.PostalCode">Postal Code</label>
                                <input asp-for="Input.PostalCode" class="form-control" />
                                <span asp-validation-for="Input.PostalCode"
                                      class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <!-- Role -->
                    @if (User.IsInRole(SD.Role_Admin))
                    {
                        <div class="form-outline mb-4">
                            <label class="form-check-label"> Role </label>
                            <select asp-for="Input.Role"
                                asp-items="@Model.Input.RoleList"
                                    class="form-control">
                                <option disabled selected>-- Select Role --</option>
                            </select>
                        </div>
                    }
                    else
                    {
                        <input asp-for="Input.Role" class="form-control" value="Customer" hidden />
                        <span asp-validation-for="Input.PostalCode"
                              class="text-danger"></span>
                    }


                    <!-- Submit button -->
                    <button id="registerSubmit"
                            type="submit"
                            class="btn btn-primary btn-block mb-4">
                        Sign up
                    </button>
                    @if (!User.IsInRole(SD.Role_Admin))
                    {
                    <p class="small fw-bold mt-2 pt-1 mb-0">
                        Already have an account? <a class="link-danger" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a>
                    </p>
                    }

                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
