@model ShoppingCartVM
@{
    ViewData["Title"] = "Checkout";
}
<div class="row">
    <div class="col-xl-10">
        <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="btn btn-outline-primary text-uppercase mb-2 btn-sm"><small>Back To Cart</small></a>
    </div>
</div>
<div class="row">
    <div class="col-md-8 ftco-animate">

        <form method="post" class="billing-form" id="order-form">
            <h3 class="mb-4 billing-heading">Shipping Details</h3>
            <div class="row align-items-end">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Name</label>
                        <input asp-for="Order.Name" class="form-control" />
                        <span asp-validation-for="Order.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input asp-for="Order.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Order.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Street Address</label>
                        <input asp-for="Order.StreetAddress" class="form-control" />
                        <span asp-validation-for="Order.StreetAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>City</label>
                        <input asp-for="Order.City" class="form-control" />
                        <span asp-validation-for="Order.City" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>State</label>
                        <input asp-for="Order.State" class="form-control" />
                        <span asp-validation-for="Order.State" class="text-danger"></span>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Postal Code</label>
                        <input asp-for="Order.PostalCode" class="form-control" />
                        <span asp-validation-for="Order.PostalCode" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </form><!-- END -->
    </div>


    <div class="col-md-4">
        <div class="row">
            <h3 class="billing-heading mb-4">Order Summary:</h3>
            <ul class="list-group mb-3">
                @foreach (var details in Model.ShoppingCartList)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <h6 class="my-0">@details.Product.Name</h6>
                            <small class="text-muted">Quantity: @details.Quantity</small>
                        </div>
                        <span class="text-muted">@((details.Price * details.Quantity).ToString("c")) </span>
                    </li>
                }

                <li class="list-group-item d-flex justify-content-between bg-light">
                    <small class="text-info">Total (USD)</small>
                    <strong class="text-info">@Model.Order.OrderTotal.ToString("c")</strong>
                </li>
            </ul>
        </div>


        <!-- Payment option-->
        <div class="row mt-2">
            <div class="cart-detail bg-light p-3 p-md-4">
                <h3 class="billing-heading mb-4">Payment Method</h3>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="radio">
                            <label><input type="radio" name="optradio" class="mr-2"> Direct Bank Tranfer</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="radio">
                            <label><input type="radio" name="optradio" class="mr-2"> Check Payment</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="radio">
                            <label><input type="radio" name="optradio" class="mr-2"> Paypal</label>
                        </div>
                    </div>
                </div>
                <p><a id="place-order-btn" class="btn btn-primary py-3 px-4">Place an order</a></p>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        document.getElementById('place-order-btn').onclick = function () {
            document.getElementById('order-form').submit();
        };
    </script>
}

